extends layout

mixin modalBox(image, title, description, content)
    div.mask&attributes(attributes)
        div.center.middle.shadow-box
            div.close.button.red.inverted &times;
            div.black.inverted.padded.text.pull-right
                div #{description}
                h2(style="margin-top: 0;") #{title}
                div.content
                    | #{content}
            img.image(src="#{image}")

mixin teacher(image, description, title)
    div.item&attributes(attributes)
        h3 &nbsp;
        img(preload-src="#{image}", style="cursor: pointer;")&attributes(attributes.onclick)
        div.media(style="cursor: pointer;")
            div.media-left
                i.fa.fa-user.icon(aria-hidden="true", style="background-color: #A04040; color: white; height: 32px; line-height: 32px; width: 32px;")
            div.media-body
                p(style="font-size: x-small;") #{description}
                h5 #{title}

block header
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(rel="stylesheet", href="/stylesheets/carousel.css")
    link(rel="stylesheet", href="/stylesheets/modal.css")

block content
    section#top
        div.container
            div.pull-right
                img(src="/images/logo.png", style="height: 40px;")
    div.container.to-top
        a(href="#")
            i.fa.fa-arrow-circle-o-up(aria-hidden="true")
    section#bottom
        div.container
            div.row(style="position: relative;")
                div.col-md-4.col-sm-8
                    div.widget
                        h2 Title / Title / Title
                            | &nbsp;&nbsp;
                            i.fa.fa-youtube-play(aria-hidden="true", style="color: #ccc")
                        br
                        h4 Heading
                        p content / content / content / contentcontent / content / content / contentcontent / content / content / contentcontent / content / content / contentcontent / content / content / content
                        br
                        hr
                        h4 Heading
                        p content / content / content / contentcontent / content / content / contentcontent / content / content / contentcontent / content / content / contentcontent / content / content / content
                        br
                        div
                            | 我是导师...
                            | &nbsp;
                            a.round-button(href="#") 进入导师平台
                div.col-md-1.col-sm-1
                div.col-md-3.col-sm-6
                    div.widget
                        h3
                        div.carousel
                            div.carousel-inner
                                + teacher("http://web.c-gp.com/content/themes/cgpweb/img/anime_osa.gif", "HCD 合得合伙人兼首席财务官", "周国元 Joseph Zhou")(class="active", onclick="$('.mask.zhou-guo-yuan').show()")
                                + teacher("http://web.c-gp.com/content/themes/cgpweb/img/anime_higashi.gif", "test", "test")(onclick="$('.mask.test').show()")
                                + teacher("http://web.c-gp.com/content/themes/cgpweb/img/anime_murakoshi.gif", "test again", "test again")(onclick="$('.mask.test-again').show()")
                            div.nav-bar
                                div.prev
                                    i.fa.fa-chevron-left
                                div.next
                                    i.fa.fa-chevron-right

                div.col-md-3.col-sm-6
                    div.widget
                        h1 &nbsp;
                        div.text-column
                            h3(style="white-space: nowrap;") KEY SERVICES
                            ul.about-list
                                li
                                    span.glyphicon.glyphicon-picture
                                    a(href="#") - content
                                li
                                    span.glyphicon.glyphicon-globe
                                    a(href="#") - content
                                li
                                    span.fa.fa-dot-circle-o
                                    a(href="#") - content
                                li
                                    span.glyphicon.glyphicon-list-alt
                                    a(href="#") - content
                                li
                                    span.glyphicon.glyphicon-star-empty
                                    a(href="#") - content
                div.col-md-1.col-sm-1(style="position: static; text-align: right;")
                    div.widget.to-right(style="position: absolute; top: 0; bottom: 0; right: 0; padding: inherit; display: inline-block;")
                        img(src="", style="height: 100%; width: 0; visibility: hidden; border: none;")
                        a(href="#")
                            i.fa.fa-arrow-circle-o-right(aria-hidden="true", style="font-size: xx-large;")

    + modalBox('/images/zhou-guo-yuan.png', '周国元 Joseph Zhou', 'HCD 合得合伙人兼首席财务官', '/ content / content / content / content // content / content // content / content // content / content // content / content // content / content // content / content // content / content // content / content // content / content // content / content // content / content // content / content // content / content // content / content // content / content /')(class="zhou-guo-yuan")

    + modalBox('/images/zhou-guo-yuan.png', 'test', 'test', 'test content')(class="test")

    + modalBox('/images/zhou-guo-yuan.png', 'test again', 'test again', 'test again content')(class="test-again")

block js
    script(src="/scripts/carousel.js")
    script(src="/scripts/modal.js")
    script.
        $(document).ready(function () {
        });